{% extends 'app_layout.html' %}
{% block content %}
<div style="margin: 10px">
            <div>
              <p class="text-center empty-state-text">Create FlashCards from Social Media Posts!</p>
              <br>
              <p>Feature Under Construction</p>
              <br />
              <div class="text-center">
                <a href="{{ url_for('create_set') }}" class="button large is-success">Create</a>
                <p class="mixed-text">a standard Flashcard Set!</p>
              </div>
            </div>
</div>
{% endblock %}